*{
	margin: 0;
	padding: 0;
}

body {
	background-color:blue;
	color:white;
	font-family: calibri;
	font-size: 12pt;
	line-height: 1.75em;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

main{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

article{
	margin: 5% 0;
}

dt{
	font-weight: bold;
	font-size: 18px;
}

dd{
	font-size: 15px;
	line-height: 16px;
	margin: 0 0 0 20px;
}

ul{
	margin: 0;
	padding: 0;
}

#mensajes div{
	border: solid 1px;
	padding:  0 5%;
}

#mesajes div h3{
	font-size: 17px;
	line-height: 18px;
}

#mesajes div h3{
	font-size: 12px;
	line-height: 13px;
}